<%= form_for [@person, @report, @course] do |f| %>
    <% if @report.errors.any? %>
        <div id="error_explanation">
        <h2>
         <%= pluralize(@course.errors.count, "error") %> prohibited
         this course from being saved:
        </h2>
        <ul>
         <% @course.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
        </ul>
        </div>
    <% end %>
    <p>
        <%= f.label :course_number, 'Course Number' %><br>
        <%= f.text_field :course_number %>
    </p>
    <p>
        <%= f.label :course_title, 'Course Title' %><br>
        <%= f.text_field :course_title %>
    </p>
    <p>
        <%= f.label :enrollment, 'Number Enrolled' %><br>
        <%= f.text_field :enrollment %>
    </p>
    <p>
        <%= f.label :year %><br>
        <%= f.text_field :year %>
    </p>
    <p>
        <%= f.label :semester %><br>
        <%= f.text_field :semester %>
    </p>
    <p>
        <%= f.label :evaluation_results, 'Evaluation Results' %><br>
        <%= f.text_area :evaluation_results %>
    </p> 
    <p>
        <%= f.label :taught, 'Taught Class?' %><br>
        <%= f.check_box :taught? %>
    </p> 
    <p>
        <%= f.submit %>
    </p>
<% end %>
