<div class="nested-fields form-section container">
        <%= f.label :title, 'Service Title' %>
        <%= f.text_field :title, class: 'form-control' %>

        <%= f.label :description  %>
        <%= f.text_area :description, class: 'form-control' %>

    <%= link_to_remove_association "Remove Professional Service Info", f %>
</div>
