<!-- Header -->
<header id="header">
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">
      <%= image_tag('unm_logo.png', {height: '25px'}) %>
      Faculty Evaluation
    </a>
    <ul class="nav navbar-nav" style="float:left">
      <% if current_user %>
      <li class="nav-item active">
        <a class="nav-item nav-link" href="<%= person_reports_path(current_user) %>">Evaluation Submissions</a>
      </li>

      <% if current_user.has_role? :global_admin %>
        <li class="nav-item">
          <a class="nav-item nav-link" href="<%= colleges_url %>">Colleges</a>
        </li>
      <% end %>
      <% if current_user.has_role? :department_admin, :any %>
          <li class="nav-item">
            <a class="nav-item nav-link" href="<%= department_url %>">Department</a>
          </li>
      <% end %>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="float: right">

      <li class="nav-item">
        <span class="navbar-text"><i class="fa fa-user" aria-hidden="true"></i> <%= current_user ? current_user.first_name : 'Unknown user' %></span>
      </li>
      <li class="nav-item">
        <%= link_to('/logout', method: :delete,  class: 'nav-item nav-link' ) do %><i class="fa fa-sign-out" aria-hidden="true"></i>Logout <% end %>
      </li>
    </ul>

  </nav>
</header>
<!-- End Header -->

<style>
  .navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.7);
  }
</style>
